@charset "UTF-8";

/* NAV MAIN */
.nav-main{
    box-shadow: 2px 0px 5px white;
    z-index: 1000;
}
    /* CHILDREN */
    .nav-main__brand{
        text-align: center;
        transition: text-shadow 1s;
    }
        .nav-main__brand:hover{
            color: var(--color-primary-comp) !important;
            text-shadow: 1px 2px 3px gray;
        }
        .nav-main__brand h1{
            font-size: 1.5rem !important;
        }
        .nav-main__brand abbr{
            color: var(--color-secondary);
        }

    .nav-main__cform-search form{
        padding: var(--padding-container);
        justify-content: center;
    }

    .nav-main__clogin {
        padding: var(--padding-container);
        text-align: center;
    }
        .nav-main__clogin img{
            transition: background-color 2s, border-radius 1s;
            animation: ease-out scale-to-visible 2s;
        }
        .nav-main__clogin img:hover{
            background-color: var(--color-primary);
            border-radius: 2rem;
        }


/* CONTAINER LOGIN */
#carouselLogin{
    background-color: black;
}
    /* CHILDREN */
    #carouselLogin img{
        display: block;
    }
    #carouselLogin h2{
        padding-top: 2rem;
        margin-top: -2rem;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.75rem;
        text-transform: uppercase;
        border-top: 0.15rem solid var(--bg-color-secondary);
    }
    #carouselLogin form{
        margin: 0 auto;
        width: 80%;
    }
        #carouselLogin form label{
            color: var(--color-secondary);
        }
        #carouselLogin form label i{
            padding-right: 0.25rem;
        }
        #carouselLogin form input{
            font-size: 0.75rem;
        }

    .button-container--center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* CONTAINER DATA LOGIN */
.data-loign{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
    .data-loign > div{
        width: 90%;
        margin: 0 auto;
    }
    .data-loign__img h6{
        border-top: 0.15rem solid var(--bg-color-secondary);
        margin-top: -1rem;
        padding-top: 1.25rem;
    }

    .data-loign__data{
        display: flex;
        justify-content: center;
    }
    .data-loign__data > div{
        width: 20%;
    }

    .data-loign__button button{
        width: 128px;
        height: 24px;
        margin: 0.25rem 0 0.5rem 0;
        font-size: 0.75rem;
    }


/*** -------------- RESPONSIVE -------------- ***/
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    /* MENU */
    .navbar-expand-md .navbar-nav {
        flex-wrap: wrap;
    }
    .nav-main__cform-search input{
        margin-bottom: 0.25rem !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    /* MENU */
    .nav-main__cform-search input{
        margin-bottom: 0rem !important;
    }
    .nav-main__clogin-img {
        margin-top: 0.5rem !important;
    }
    .navbarNav-how{
        text-align: center;
        margin: 0 auto;
        width: 60%;
    }
    /* LOGIN */
    form > div > div:last-child button{
        width: 100%;
    }
}

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    /* MENU */
    .nav-main__cform-search input, .nav-main__cform-search button{
        width: 80%;
    }
}