<!-- MAIN -->
<main class="main-container bg-dark">
    <!-- SECTION -->
    <section class="section-container">
        <h4>Miembros</h4>
        <div class="list-cdata list-group" id="list-data-tab" role="tablist">
            <!-- Elemnt List BUCLE -->
            <a href="#" class="list-cdata__item list-group-item list-group-item-action rounded" id="list-show-first">
                <div class="row">
                    <div class="list-cdata__item__cimg col-sm-2">
                        <img class="img-fluid rounded icon48" src="./images/avatar_female.svg" alt="Avatar" title="Avatar">
                    </div>
                    <div class="list-cdata__item__data col-sm-9">
                        <div class="row">
                            <div class="col">
                                <h6 class="mb-1">Jacinto Roldán Rodríguez <strong> (Balbino)</strong></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <span>Socio :</span>
                                <strong class="badge badge-primary badge-pill">12</strong>
                            </div>
                            <div class="col-5">
                                <span>Categoria :</span>
                                <strong class="badge badge-primary badge-pill">Benjamin</strong>
                            </div>
                            <div class="col-4">
                                <span>Carreras :</span>
                                <strong class="badge badge-primary badge-pill">25</strong>
                            </div>
                        </div>
                    </div>
                    <div class="list-cdata__item__buttons col-sm-1">
                        <button class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </a>
        </div>
        <a href="#" class="btn btn-outline-success btn-sm" id="list-add-generic">Añadir</a>
    </section>
    <!-- ASIDE -->
    <aside class="aside-container">
        <h4>ASIDE</h4>
        <div class="tab-content" id="nav-tabContent">
            <div class="" id="list-show">Primero</div>
            <div class="" id="list-add">Añadir</div>
          </div>
    </aside>
</main>
