<div class="search-main">
    <div class="search-main__btn">
        <i class="fas fa-search search-main__btn-icon link-effect-color"></i>
    </div>
    <div class="search-main__container container-popup">
        <i class="fas fa-filter search-main__container-icon-filter link-effect-color">
            <select class="search-main__container-tooltips-filter">
                <option value="member">Miembros</option>
                <option value="race">Carreras</option>
                <option value="notice">Noticias</option>
                <option value="train">Entrenos</option>
            </select>
        </i>
        <form class="search-main__container-form" action="" [formGroup]="formSearch">
            <input type="text" class="search-main__container-form-text" placeholder="..." name="formSearchValue" pattern="^[a-zñA-Záéíóú\\s/]{2,}"
                required title="Introduzca el valor a buscar" formControlName="formSearchValue" />
            <button type="submit" class="search-main__container-form-btn" (click)="searchBtn()" [disabled]="!formSearch.valid">Buscar</button>
        </form>
        <div class="search-main__container-result">
            JR2
        </div>
    </div>
</div>