.nav-main__cform-search form{
    padding: var(--padding-container);
    justify-content: center;
}

/*** -------------- RESPONSIVE -------------- ***/
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    .nav-main__cform-search input{
        margin-bottom: 0.25rem !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .nav-main__cform-search input{
        margin-bottom: 0rem !important;
    }
}

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .nav-main__cform-search input, .nav-main__cform-search button{
        width: 80%;
    }
}