/* CONTAINER DATA LOGIN */
.cdata-login{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
    .cdata-login > div{
        width: 90%;
        margin: 0 auto;
    }
    .cdata-login__img{
        margin-top: 0.5rem !important;
    }
        .cdata-login__img h6{
            border-top: 0.15rem solid var(--bg-color-secondary);
            margin-top: -1rem;
            padding-top: 1.25rem;
        }

    .cdata-login__data{
        display: flex;
        justify-content: center;
    }
        .cdata-login__data > div{
            margin: 0 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

    .cdata-login__btn button{
        margin: 0.5rem 0;
        font-size: 0.75rem;
    }


/*** -------------- RESPONSIVE -------------- ***/
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .cdata-login__data > div{
        margin: 0 0.1rem;
        width: 100%;
        flex-direction: column;
    }
}

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}