<div class="cdata-login container" *ngIf="bLoginSon">
    <div class="cdata-login__img">
        <img class="img-fluid rounded icon64" src="../../../assets/images/img_login/avatar_female.svg" alt="Avatar" title="Avatar">
        <h6 class="mb-1">Jacinto Roldán Rodríguez <strong> (Balbino)</strong></h6>
    </div>
    <div class="cdata-login__data">
        <div>
            <span>Nombre:</span>
            <strong class="badge badge-primary badge-pill">{{userLogin.username}}</strong>
        </div>
        <div>
            <span>Tipo:</span>
            <strong class="badge badge-primary badge-pill">{{userLogin.rol}}</strong>
        </div>
        <div>
            <span>&Uacute;ltimo acceso:</span>
            <strong class="badge badge-primary badge-pill">{{userLogin.lastAccess | date: 'dd-MM-yyyy'}}</strong>
        </div>
    </div>
    <div class="cdata-login__btn">
        <button type="button" class="btn btn-danger btn-sm">Cerrar Sesi&oacute;n</button>
    </div>
</div>