@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --bg-color: #fafafa;
    --bg-color-comp: #f9f9f9;
    --bg-color-primary: #1d242c;
    --bg-color-primary-comp: #2a343f;
    --bg-color-secondary: #828487;
    --bg-color-secondary-comp: #6e6f72;

    --color: white;
    --color-primary: #e43f5a;
    --color-primary-comp: #eb0101;
    --color-secondary: #536DFE;
    --color-secondary-comp: #6A5ACD;
    --color-link: rgba(255,255,255,.5);
    --color-link-comp: rgba(255,255,255,.85);
    --color-special: #00546b;
    --color-error: #dc3545;
    --color-valid: #28a745;

    --font-title: 'Roboto Slab', serif;
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-nav: 'Montserrat', sans-serif;

    --min-width-mobile: 320px;
    --padding-container: 0 0.5rem;
    --font-size-small: 0.75rem;

    --border-top: 0.1rem inset white;

}

/*** -------------- GENERIC -------------- ***/
*{
    color: var(--color);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    width: 95%;
    font-family: var(--font-primary);
}

/*** -------------- TAGS -------------- ***/
h1, h2, h3, h4, h5, h6{
    color: var(--color-primary);
    font-family: var(--font-title);
}

nav{
    font-family: var(--font-nav);
}
ul{
    list-style: none;
    display: inherit;
}

a{
    color: var(--color-link);
    text-align: center;
    transition: color 1s;
}
    a:hover{
        color: var(--color-link-comp);
        text-decoration: none;
    }

strong, em{
    text-shadow: 2px 2px 3px black;
}
span{
    color: white;
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px var(--color-secondary);
    padding-right: 0.25rem;
}
samp{
    text-align: center;
}

i{
    color: var(--bg-color-secondary);
    text-shadow: 1px 1px 2px var(--color-special);
    font-size: 0.75rem;
}

hr{
    background-color: var(--color-secondary-comp);
    width: 90%;
    margin: 0.5rem auto;
}

img{
    max-width: 100%; //responsive;
}

/*** -------------- CLASSES -------------- ***/
/* BACKGROUND */
.section-back{
    border-radius: 0.5rem;
    transition: all 1s;
}
.section-back:hover{
    background-color: black;
    border: 0.2rem ridge var(--bg-color-primary);
}

/* IMAGAES */
.icon32{
    margin: 5px;
    width: 32px;
    height: 32px;
}
.icon48{
    margin: 0rem auto;
    width: 48px;
    height: 48px;
}
.icon64{
    margin: 0rem auto;
    width: 64px;
    height: 64px;
}
.img-link{
    margin: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-link);
    transition-property: background-color, transform;
    transition-duration: 1s, 0.25s;
}
.img-link:hover{
    background-color: var(--color-link-comp) !important;
    transform: scale(1.1);
}
.img-link:active{
    transform: scale(0.8);
}

/* ANIMATES */
@keyframes scale-to-visible{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1.25);
    }
}


/*** -------------- CONTAINERS -------------- ***/
.app-container{
    background-color: var(--bg-color);
}

.header-main-container{
    padding: 0;
    transition: ease-in-out 0.5s;
}

.main-container{
    border-top: var(--border-top);
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
    .main-container h4{
        width: 100%;
        text-align: center;
    }

    .section-container{
        margin: 0 0.15rem 0 0;
        /*width: 65%;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .aside-container{
        margin: 0 0 0 0.15rem;
        width: 25%;
    }


/*** -------------- RESPONSIVE -------------- ***/
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .main-container{
        flex-direction: column;
    }
        .section-container, .aside-container{
            margin: 0;
            width: 100%;
            justify-content: center;
        }
}

 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}
